body { font-family : Arial,sans-serif;}
h1 { color: green; text-align: center; }
p { line-height: 1.5; }
.copyright { text-align: center; }
.copyright { color: gray; font-size: 12px; }
.menu { background-color: #d9f2d9; color: white; }
.menu { background-color: #d9f2d9; color: white; padding: 10px; }
